@{
    ViewBag.Title = "Acerca de";
}
<h2>Acerca de</h2>
<h3>Lisbeth Martinez 20175080</h3>
<p>Todos los modulos fueron creados por mi.</p>
<img src="~/Imagen/WhatsApp Image 2020-04-12 at 1.32.15 AM.jpeg" style="width:380px;height:400px;"/>

