@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h3>Modulos</h3><br />
        <a class="btn btn-primary" href="~/Home/Formulario">Formulario</a><br /><br />
        <a class="btn btn-primary" href="~/Home/Conversor">Conversor</a><br /><br />
        <a class="btn btn-primary" href="~/Excel/Upload">Excel</a><br /><br />
        <a class="btn btn-primary" href="~/Filtro/Index">Filtro de contenido</a>

    </div>
