@model Tarea.Models.Formulario
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<a href="~/Curriculum/@ViewBag.curriculum" >@ViewBag.curriculum</a>
<img src="~/Imagen/@ViewBag.foto" style="width:auto;height:auto" />