
@{
    ViewBag.Title = "Index";
}

<h2>Filtro de contenido</h2>
<div>
    <a class="btn btn-success" href="~/Filtro/Noticias">Noticias</a><br /><br />
    <a class="btn btn-primary" href="~/Filtro/Musica">Musica</a><br /><br />
    <a class="btn btn-warning" href="~/Filtro/Peliculas">Peliculas</a><br /><br />
    
</div>

