
@{
    ViewBag.Title = "Musica";
}

<h2>Musica</h2>

Portales de musica principales <br />
<a href="https://www.spotify.com/do/"> Spotify </a><br />
<a href="https://www.deezer.com/es/"> Deezer </a><br />
<a href="https://groovesharks.org/?lang=spanish"> Groove Sharks </a><br />
<a href="http://www.goear.cc/descargar-mp3/amarillo-j-balvin"> Go ear</a><br />
<a href="https://www.radio.es/s/lautfm-rdio"> Radio </a><br /><br />

<a class="btn btn-primary" href="~/filtro/index">Atras</a>