
@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>


<div>
LOCALES<br />
    <a href="https://www.elcaribe.com.do/"> El caribe</a><br />
    <a href="https://noticiassin.com/"> Noticias Sin</a><br />
    <a href="https://cdn.com.do/"> CDN</a><br />
    <a href="https://elnuevodiario.com.do/"> El nuevo diario</a><br />
    <a href="https://remolacha.net/"> Remolacha.net</a>

</div> <br /><br />

<div>
    INTERNACIONALES<br />
    <a href="https://www.hoy.es/internacional/">Hoy</a><br />
    <a href="https://www.elmundo.es/">El mundo</a><br />
    <a href="https://www.larazon.es/">La razon</a><br />
    <a href="https://elpais.com/america/">El pais</a><br />
    <a href="https://www.lavanguardia.com/">La vanguardia</a>

</div>