
@{
    ViewBag.Title = "Peliculas";
}

<h2>Peliculas</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Accion y aventura</a></li>
    <li><a data-toggle="tab" href="#menu1">Drama</a></li>
    <li><a data-toggle="tab" href="#menu2">Infantiles</a></li>
    <li><a data-toggle="tab" href="#menu3">Documentales</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <h3> Accion y aventura</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VEEYWTPvmis" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pWdKf3MneyI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eOrNdBpGMv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ET9SHYzMz_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FkTybqcX-Yo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div id="menu1" class="tab-pane fade">
        <h3> Drama</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GueNFlyRR-M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vOUVVDWdXbo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_9ULoCgJ3-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BKuDz3pxi7I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IfB65qjLbwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    <div id="menu2" class="tab-pane fade">
        <h3> Infantiles</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/R-CVuNsbXcI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3mESf9fOqIA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1uq5eJHwio4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ubSLsba9hoU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/E4Bf-zf7Y40" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />

    </div>
    <div id="menu3" class="tab-pane fade">
        <h3> Documentales</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fLOeH-Oq_1Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UAYCxT418RA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b_k2yChkBIo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lBA18LXtvl0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bglX9Jpn4GM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</div>
<div>
    <a class="btn btn-primary" href="~/filtro/index">Atras</a>
</div>



